<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <compilation xdt:Transform="Remove" />
    
    <customErrors mode="On" defaultRedirect="~/error/notfound" xdt:Transform="Insert">
    </customErrors>
  </system.web>

  <system.webServer>
    <rewrite>
      <rules>
        <clear />

        <rule name="Redirect to HTTPS" stopProcessing="true" xdt:Transform="Insert">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>