@{
    Layout = null;
    //this page uses a different layout and stylesheet.
    //remove this to use the default layout instead.
}

@*put whatever you want here, or delete the Home controller for this page to go away*@

This page intentionally left blank
<br/>
<a href="/blog">Click here to go to blog</a>