@model BlogFull.Web.Models.ViewModels.Base.BasePageViewModel

<h2>Err, where did I put that</h2>
<p>
    Oops, something went wrong or the content could not be found.
</p>

<a href="/blog">This could help</a>